.add_update_course__screen {
    margin-left: var(--side-menu-width-on-off);
    /* margin-top: var(--nav-height); */
    margin-top: 0;
    padding: 0;
    text-align: center;
    transition: all 0.5s ease;
    background-color: rgb(244, 245, 247);

}

.add_update_course__screen_content {
    /* margin: 100px 0px; */
    padding-top: var(--nav-height);
}

.add_update_course__screen_content>h1 {
    background-color: rgb(84, 12, 185);
    padding: 10px 0;
    color: white;
    font-weight: 300;
}

.add_update_course__screen_content .categories {
    display: block;
    /* border: 1px dashed pink; */
    margin-top: 20px;
    text-align: left;
    background-color: rgb(0, 46, 49);
    color: white;
    padding: 10px;
    transition: all 350ms ease
}

.add_update_course__screen_content .categories .add {
    margin: 10px;
}

.add_update_course__screen_content .categories .title {

    /* border: 1px dashed pink; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add_update_course__screen_content .categories .title span {
    font-weight: 500;
    color: bisque;
}

.add_update_course__screen_content .categories .svg_icon svg {
    fill: white;
    cursor: pointer;
    margin-left: 5px;
    /* border: 1px dashed pink; */
}

.add_update_course__screen_content .categories .svg_icon>svg:hover {
    transform: scale(1.2);
    fill: cyan;
}

.add_update_course__screen_content .courses {
    margin: 2.4rem 0;
    display: flex;
    /* gap: 20px; */
    /* flex-wrap: wrap; */
    overflow-x: scroll;
    align-items: center;



}

.add_update_course__screen_content .courses .item {
    align-self: stretch;
    min-width: 200px;
}

/* .add_update_course__screen_content .categories .expanding {
    border: 1px dashed pink;
    transition: all 750ms ease;
} */

@media screen and (min-width:600px) {
    .add_update_course__screen_content {
        margin: 0px 20px;
    }
}