body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

.chapter__screen {
    margin-left: var(--side-menu-width-on-off);
    margin-top: var(--nav-height);
    padding: 0;
    text-align: center;
    transition: all 0.5s ease;
    border: 1px dashed pink;
}

.chapter__screen_container {
    /* position: relative; */
}

.chapter__screen_footer {
    position: fixed;
    right: 10px;
    bottom: 10px;
    text-align: right;
    margin-right: 20px;
}

.chapter__screen_footer_buttons>button {
    outline: none;
    border-style: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: rgba(39, 205, 234, 0.9);
    padding: 5px;
    margin: 5px;
    color: white;
    cursor: pointer;
}

.chapter__screen_footer_buttons>button:hover {
    background-color: rgba(24, 145, 167, 0.8);
}

.chapter__screen_footer_buttons>button:active {
    background-color: rgba(27, 98, 110, 0.7);
}

.html_container {
    margin-top: 100px;
    width: 100%;
}

.chapter__screen .iframe_container_file {
    /* Flexbox Layout for easy positioning and sizing child elements */
    border: 1px solid green;
    width: 100%;
    padding: 0px;
    box-sizing: border-box;


    /* 4:3 Aspect Ratio */
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.chapter__screen .iframe_container_file>iframe {
    /* display: block;
    transform: scale(0.5); */
    /* -moz-transform-scale(0.5); */
    box-sizing: border-box;
}

.iframe_container_youtube {
    position: relative;

    overflow: hidden;
    padding-bottom: 62.55%;
    /* 56.25%; 16:9 */
    height: 0;
    text-align: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}


.iframe_container_youtube iframe {
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    /* transform: translateX(0%); */
}

@media screen and (min-width:1200px) {
    .iframe_container_youtube {
        padding-bottom: 50%;
        overflow: hidden;
        max-width: 80%;
    }

    .iframe_container_youtube iframe {}
}