body,
html {
    /* width: 100%; */
    height: 100%;
    margin: 0;
    padding: 0;

}

.chapter__screen {
    margin-left: var(--side-menu-width-on-off);
    margin-top: var(--nav-height);
    padding: 0;
    text-align: center;
    transition: all 0.5s ease;
    /* display: flex; */
    /* border: 1px dashed pink; */
}

.chapter__screen .progressbar_chapters {
    /* position: fixed;
    top: 0; */
}

.chapter__screen .content__preview {
    width: 100%;
}



@media screen and (min-width:400px) {}

@media screen and (min-width:1200px) {}