body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

.chapter__screen {
    margin-left: var(--side-menu-width-on-off);
    margin-top: var(--nav-height);
    padding: 0;
    text-align: center;
    transition: all 0.5s ease;
    /* border: 1px dashed pink; */
}

.chapter__screen_container {
    /* position: relative; */
}

.chapter__screen_footer {
    position: fixed;
    right: 5px;
    bottom: 10px;
    text-align: right;
    margin-right: 5px;
}

.chapter__screen_footer_buttons>a {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    color: black;
    background-color: rgba(39, 205, 234, 0.2);
    margin-right: 5px;
    border: 1px solid rgba(25, 131, 149, 0.2);
    ;
}

.chapter__screen_footer_buttons>a:hover {
    background-color: rgba(24, 145, 167, 0.8);
}

.chapter__screen_footer_buttons>a:active {
    background-color: rgba(27, 98, 110, 0.7);
}

.html_container {
    margin-top: 100px;
    width: 100%;
}

.chapter__screen .iframe_container_file {

    /* overflow: scroll; */

    box-sizing: border-box;
    /* position: relative; */

    overflow: hidden;
    /* padding-bottom: 50%; */
    /* 56.25%; 16:9 */
    width: 100%;
    height: 100vh;
    text-align: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    /* transform: scale(0.5, 0.5) */
    /* transform: perspective(400px) rotateY(-45deg) scale(1.1, 1.1); */

    /* perspective: 550px;
    transform-style: preserve-3d;
    margin: 0 auto; */
}

.chapter__screen .iframe_container_file>iframe {
    /* position: absolute; */
    /* top: 0;
    left: 0%; */
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    /* transform: rotateY(90deg) translateZ(50px) */
}

/* @keyframes name-of-animation {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(90deg);
    }
} */

.iframe_container_youtube {
    position: relative;

    /* overflow: hidden; */
    padding-bottom: 62.55%;
    /* 56.25%; 16:9 */
    height: auto;
    text-align: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}


.iframe_container_youtube iframe {
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    /* transform: translateX(0%); */
}





@media screen and (min-width:400px) {
    .chapter__screen_footer {
        position: fixed;
        right: 10px;
        bottom: 10px;
        text-align: right;
        margin-right: 20px;
    }

    .chapter__screen .iframe_container_file {}

    .chapter__screen .iframe_container_file>iframe {}

    .chapter__screen_footer_buttons>a {

        /* outline: none;
        border-style: none; */
        width: 3rem;
        height: 3rem;
        line-height: 3rem;

        padding: 5px;
        margin: 5px;
        /* color: white; */
        cursor: pointer;
    }

}

@media screen and (min-width:1200px) {
    .iframe_container_youtube {
        padding-bottom: 50%;
        overflow: hidden;
        max-width: 80%;
    }


    .iframe_container_youtube iframe {}
}