.loginScreen {
    position: relative;
    height: 100%;
    min-width: 300px;

}


.loginScreen__background {

    background-image: url('../images/login-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}

.loginScreen__gradient {
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to top,
            rgba(0, 0, 0, 0.8) 0%,
            rgba(0, 0, 0, 0) 60%,
            rgba(0, 0, 0, 0.8) 100%);
}

.loginScreen__logo {
    position: fixed;
    left: 0;
    /* width: 150px; */
    /* object-fit: contain; */
    padding: 20px;
    font-size: 2rem;
    font-weight: 600;
    color: cyan;
}

.loginScreen__logo i {
    color: white;
    font-size: 1.5rem;
    font-style: normal;
}

.loginScreen__button {
    position: fixed;
    right: 0px;
    margin: 20px;
    padding: 10px 20px;
    background-color: #e50914;
    color: #fff;
    font-size: 1rem;
    border-style: none;
    cursor: pointer;
}

.loginScreen__body {

    position: absolute;
    top: 25%;
    width: 90%;
    color: white;
    padding: 20px;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    /* max-width: 900px; */

}

.loginScreen__contents {
    position: relative;
}

.loginScreen__contents>h1 {
    /* font-size: 3.125rem; */
    font-size: 2.125rem;
    margin: 20px;

}

.loginScreen__contents>h2 {
    /* font-size: 2rem; */
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 30px;

}

.loginScreen__contents>h3 {
    /* font-size: 1.3rem; */
    font-size: 1.1rem;
    font-weight: 400;
    /* margin-bottom: 30px; */

}

.loginScreen__input {
    /* border: 1px dashed pink; */
    /* height: 42px; */
    /* line-height: 42px; */
    margin-top: 10px;
    vertical-align: center;

}

.loginScreen__input>form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 5px;
    width: 100%;
    /* border: 2px dashed gray; */

}

.loginScreen__input>form .email,
.loginScreen__input>form .password {
    position: relative;
    height: 100%;
    width: 100%;
}


.loginScreen__input>form .email>input,
.loginScreen__input>form .password>input {
    padding: 10px 0;

    padding-right: 50px;
    outline: none;
    width: 100%;

    border: none;
    font-size: 1rem;
    text-indent: 10px;

    border-radius: 3px;
    box-sizing: border-box;

}

.loginScreen__input>form .email>input:focus,
.loginScreen__input>form .password>input:focus {
    border: 1.5px solid rgb(255, 69, 100);
}



.email_icon {
    position: absolute;
    color: rgb(50, 50, 50);
    top: 50%;
    transform: translate(0, -50%);
    right: 5px;
    font-size: 1.5rem;
}

.pass_icon {
    position: absolute;
    color: rgb(50, 50, 50);
    top: 50%;
    transform: translate(0, -50%);
    right: 5px;
    font-size: 1.5rem;
    padding: 5px;

    /* border: 1px dashed pink; */


}

.pass_icon:hover {

    border-radius: 50%;

    background-color: rgb(218, 218, 218);
    cursor: pointer;
    /* color: white; */
}



.loginScreen__btn_signIn {

    padding: 10px;
    margin-top: 5px;
    width: 100%;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    border: none;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 3px;
}

.loginScreen__btn_signIn:disabled,
.loginScreen__btn_signIn[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: default;
}


@media screen and (min-width:600px) {
    .loginScreen__input>form {
        flex-direction: row;
        align-items: center;
        margin: auto;
        /* gap: 2px; */
        max-width: 600px;
    }

    .loginScreen__btn_signIn {
        margin-top: 0px;
        max-width: 120px;
    }

    .loginScreen__contents>h1 {
        font-size: 3.125rem;
        margin: 20px;

    }

    .loginScreen__contents>h2 {
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 30px;

    }

    .loginScreen__contents>h3 {
        font-size: 1.3rem;
        font-weight: 400;
        /* margin-bottom: 30px; */

    }

}