/** OVERRIDE SELECTED TEXT HIGHLIGHT COLOR FOR THEMES: **/

/* isotope theme */
.cm-s-isotope div.CodeMirror-selected {
    background: #0004FF !important;
}

/* colorforth theme */
.cm-s-colorforth div.CodeMirror-selected {
    background: #0004FF !important;
}

/* 3024-night theme */
.cm-theme .CodeMirror-selected {
    background: #cbcbdb !important;
}

.practice__screen .cm-theme .notranslate .CodeMirror-selected {
    background-color: #CCCCCC !important;
}

.CodeMirror-selected::-moz-selection {
    background: rgba(30, 50, 50, 0.1);
}

.CodeMirror-focused .CodeMirror-selected::-moz-selection {
    background: rgba(30, 50, 50, 0.2);
}

/** - - - - - **/

.practice__screen {
    margin-top: var(--nav-height);
    width: var(--width-view);
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: flex;
    flex-direction: column;

}

.practice__screen .code-lists {
    width: 100%;
    min-height: 300px;
}

.practice__screen .cm-theme {
    width: 100%;
    /* height: 70vh; */
}

.practice__screen .cm-result {
    width: 100%;
    min-height: 300px;

}

/* 
// Let's start LaLaSol coding!
console.log('test')


const display = (data)=>{
  console.log(data)
}

const data=[1,2,3,4]
  for (c of data){
    display(c)
  }
   */

.practice__screen .code-lists {
    background-color: #1a1b26;
    color: white;
}

.practice__screen .code-lists .item {
    margin-top: 5px;
    margin-left: 5px;
}

.practice__screen .code-lists span {
    display: inline-block;
    margin-right: 5px;
}

.practice__screen .code-lists button {
    padding: 5px 14px;
}

.practice__screen .cm-result>button {
    display: inline-block;
    width: 100%;
    background-color: rgb(62, 9, 66);
    color: white;
    /* outline: none; */
    border: none;
    padding: 10px 0px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.practice__screen .cm-result>button:hover {
    background-color: rgb(97, 24, 103);
}

.practice__screen .code-result {
    width: 100%;

    padding: 20px 40px;
    background-color: #292a3c;
    color: white;
    height: 95.45vh;
}




@media screen and (min-width:600px) {
    .practice__screen {
        flex-direction: row;
    }

    .practice__screen .code-lists {
        width: 20%;
    }

    .practice__screen .cm-theme {
        /* height: 100vh; */
        width: 60%;
    }

    .practice__screen .cm-result {
        width: 20%;
        min-height: 94vh;
    }

}