.add_chapter__component {
    /* background-color: rgb(140, 111, 111);
     */
    /* border: 1px dashed pink; */
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    max-width: 100%;
    border-radius: 8px;
    background-color: rgb(19, 17, 28);
    color: white;
}

.add_chapter__component .chapter_editor {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.add_chapter__component .chapter_list_view {

    background-color: rgb(19, 17, 28);
    box-sizing: border-box;
    /* border: 5px solid rgb(30, 67, 131); */


    border-radius: 8px 8px 0 0;

    padding: 5px 10px 10px 10px;
    color: white;
    max-width: 100%;
    width: 100%;
}

.add_chapter__component .chapter_list_view h3 {
    margin: 0;
    padding: 10px 15px;
}

.add_chapter__component .chapter_list_view span {
    color: rgb(236, 133, 244);
}



.add_chapter__component .chapter_lists {
    margin: 7px 10px;
    box-sizing: border-box;

    padding: 10px 20px;
    background-color: rgb(23, 51, 101);
    border-radius: 5px;
    color: rgb(161, 160, 171);
    /* width: 100%; */
    max-width: 100%;
}

.add_chapter__component .chapter_lists:hover {
    background-color: rgb(17, 38, 75);
    color: white;

    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 0px 0px 2px rgba(30, 67, 131, 1);
    -moz-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}



.add_chapter__component .chapter_list_view .btn {
    /* width: 100%; */
    max-width: 100%;
    border-style: none;
    margin: 12px 10px;
    padding: 10px 20px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgb(75, 123, 205);

    color: rgb(255, 255, 255);
}

.add_chapter__component .chapter_list_view .btn:hover {

    box-shadow: 0px 0px 0px 2px rgba(255, 0, 0, 0.05);
    -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 67, 131, 1);
    -moz-box-shadow: 0px 0px 0px 2px rgba(255, 0, 0, 0.05);
    border-radius: 5px;
}

.add_chapter__component .content_lists {
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 20px;
}

.add_chapter__component .content_lists .content_lists_body {
    overflow-y: scroll;
    max-height: 200px;
}

.add_chapter__component .content_lists_item:hover {
    background-color: rgb(17, 38, 75);
    color: white;

    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 0px 0px 2px rgba(30, 67, 131, 1);
    -moz-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.add_chapter__component .content_lists_item {
    margin: 7px 10px;
    box-sizing: border-box;

    padding: 10px 20px;
    background-color: rgb(23, 51, 101);
    border-radius: 5px;
    color: rgb(161, 160, 171);
    /* width: 100%; */
    max-width: 100%;
}

@media screen and (min-width:768px) {

    .add_chapter__component {

        grid-template-columns: auto auto;
    }

    .add_chapter__component .chapter_editor {
        /* flex-direction: row;
        justify-content: space-between; */
    }

    .add_chapter__component .chapter_list_view {
        width: 100%;
        border-radius: 8px 0 0 8px;
        align-self: stretch;

    }

    .add_chapter__component .chapter_detail {
        width: 100%;
        align-self: stretch;
        /* border-radius: 0 8px 8px 0; */
    }
}


@media screen and (min-width:1200px) {

    .add_chapter__component {

        /* grid-template-columns: auto auto auto auto; */
        /* grid-template-columns: repeat(4, minmax(0, 1fr)); */
        grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr) minmax(0, 1fr);
    }

    .add_chapter__component .chapter_list_view {
        width: 100%;
        align-self: stretch;

    }

    .add_chapter__component .chapter_detail {
        width: 100%;
        align-self: stretch;

    }

    .add_chapter__component .content_lists {
        width: 100%;
        align-self: stretch;

    }

    .add_chapter__component .content_detail {
        width: 100%;
        align-self: stretch;

    }
}