.add_course__form {
    width: 100%;

}

.add_course__form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    /* border: 1px dashed pink; */
    transition: all 3s ease;
}

.add_course__form form .group-1,
.add_course__form form .group-2 {
    width: 100%;
    /* border: 1px dashed pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap; */
}

/* .add_course__form form .group-1 input {
    width: 100%;
    max-width: 100%;
    flex: 1;
} */

input {
    margin: 0.3rem 0;
}

input[type=text] {
    outline: none;
    border-style: none;
    padding: 0.63rem 1.4rem;
    outline: none;
    border-radius: 3px;
    max-width: 100%;
    width: 100%;
    font-size: 0.8rem;
    /* margin-top: 5px; */
}

input:focus {
    box-shadow: 0px 0px 2px 2px rgba(225, 0, 0, 0.97);
    -webkit-box-shadow: 0px 0px 2px 2px rgba(225, 0, 0, 0.97);
    -moz-box-shadow: 0px 0px 2px 2px rgba(225, 0, 0, 0.97);
}

textarea:focus {
    box-shadow: 0px 0px 2px 2px rgba(225, 0, 0, 0.97);
    -webkit-box-shadow: 0px 0px 2px 2px rgba(225, 0, 0, 0.97);
    -moz-box-shadow: 0px 0px 2px 2px rgba(225, 0, 0, 0.97);
}

textarea {
    outline: none;
    border-style: none;
    border-radius: 3px;
    padding: 0.63rem 1.4rem;
    width: 100%;
    max-width: 100%;
    margin: 0.3rem 0;
    resize: vertical;

    min-height: 3.2rem;
    font-size: 0.8rem;
}

.input_file {
    display: flex;
    align-items: center;
}

.input_file>label {
    padding: 0.53rem;
    color: rgb(69, 69, 69);
    font-weight: 300;
    font-size: 1rem;
    background-color: rgb(231, 231, 231);

    border-radius: 0 0.2rem 0.2rem 0;
}

.add_course__form input[type="file"] {
    position: relative;
    width: 100%;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.797);
    /* border: none; */
    margin-right: 2px;
    border-radius: 0.2rem 0 0 0.2rem;
    color: #000;
}

.add_course__form input[type="file"]:hover {
    box-shadow: 0px 0px 2px 2px rgba(225, 0, 0, 0.97);
    -webkit-box-shadow: 0px 0px 2px 2px rgba(225, 0, 0, 0.97);
    -moz-box-shadow: 0px 0px 2px 2px rgba(225, 0, 0, 0.97);
}



.add_course__form input[type="file"]::file-selector-button {

    position: relative;
    appearance: auto;
    /* 
    -webkit-user-modify: read-only !important;
    white-space: nowrap;
    -webkit-user-select: auto; */


    background-color: rgb(232, 232, 232);
    font-size: 0.8rem;
    color: #000;
    border: 0px;
    border-right: 1px solid #b6b6b6;
    padding: 0.78em 1.5em !important;
    margin-right: 20px;
    border-radius: 0.2rem 0 0 0.2rem !important;
    transition: .5s;


}

/* For mobile device */
.add_course__form input[type="file"]::-webkit-file-upload-button {

    position: relative;
    appearance: auto;
    background-color: rgb(232, 232, 232);
    font-size: 0.8rem;
    color: #000;
    border: 0px;
    border-right: 1px solid #b6b6b6;
    padding: 0.78em 1.5em !important;
    margin-right: 20px;
    border-radius: 0.2rem 0 0 0.2rem !important;
    transition: .5s;
}



.add_course__form input[type="file"]::file-selector-button:hover {
    background-color: rgb(139, 138, 138);
    border: 0px;
    border-right: 1px solid #e5e5e5;
}

.add_course__form button {
    margin: 0.3rem 0;
    padding: 0.63rem 1.4rem;

    background-color: rgb(226, 88, 88);
    color: white;
    border: 0;
    border-radius: 3px;
    width: 100%;
    max-width: 100%;
    height: 2.3rem;
    font-size: 0.8rem;

}

.add_course__form button:hover {
    background-color: rgb(198, 52, 52);
}

.add_course__form button:active {
    background-color: rgb(174, 34, 34);
}

@media screen and (min-width:600px) {
    /* .add_course__form form {
        flex-direction: row;
    }

    .add_course__form button {
        height: 3.2rem;
    }

    .add_course__form form .group-1 {
        margin-right: 10px;
    } */
}