.chapter_editor__component {

    border-top: 1px dashed gray;

}

.chapter_editor__component .form {
    margin: 20px;
}

.chapter_editor__component button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
}

@media screen and (min-width:768px) {
    /* 
    .chapter_editor__component {

        height: 100%;
       
    } */
}