.nav__header {
    position: fixed;
    width: 100%;
    top: 0;


    box-shadow: 0px 5px 14px 1px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: 0px 5px 14px 1px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 5px 14px 1px rgba(0, 0, 0, 0.41);
    z-index: 999;
}

.nav__container {
    height: var(--nav-height);
    background-color: var(--bg-primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    color: white;
}

.nav__menu {
    /* border: 1px dashed pink; */
    /* width: 100%; */
    display: flex;
    align-items: flex-start;
}

.nav__menu svg {
    fill: gray;
    margin-right: 10px;
}

.nav__menu svg.active {
    fill: white;
    cursor: pointer;
    margin-right: 10px;
}


.nav__menu .logo a {
    font-size: 1.2rem;
    font-weight: 400;
    /* margin: 0 20px; */
    color: rgb(0, 222, 222)
}

.nav__menu .cat {
    display: none;
    padding: 0 5px;
    font-size: 0.7rem;
    color: rgb(187, 187, 1);
}

.nav__menu span>.bootcamp {
    padding-left: 5px;
    color: yellow;
    font-size: 0.9rem;
}

.nav__user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__user .logout {
    margin-right: 10px;
    color: rgb(192, 192, 192);
    cursor: pointer;
    transition: all 0.25s ease;
}

.nav__user .logout:hover {
    padding-bottom: 2px;
    color: white;
    border-bottom: 3px solid rgb(78, 78, 78);
}

.nav__user .btn_user_profile {
    outline: none;
    border: none;

    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 5px;
    background-color: rgb(0, 92, 0);
    color: white;
    font-size: 1rem;
    font-weight: 300;
    /* border: 1px dashed pink; */
    padding: 5px;
    cursor: pointer;
}

.nav__user button:hover {
    background-color: rgb(0, 70, 0);
}

.nav__user button:active {
    border: 1px solid grey;
}

.nav__user svg {
    fill: white;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 40
        /* font-size: 1.2rem; */
}

@media screen and (min-width:400px) {
    .nav__menu .cat {
        display: unset
    }

}