.nav__header {
    position: fixed;
    width: 100%;
    top: 0;


    box-shadow: 0px 5px 14px 1px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: 0px 5px 14px 1px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 5px 14px 1px rgba(0, 0, 0, 0.41);
    z-index: 999;
}

.nav__container {
    height: var(--nav-height);
    background-color: var(--bg-primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    color: white;
}

.nav__menu {
    /* border: 1px dashed pink; */
    /* width: 100%; */
    display: flex;
    align-items: flex-start;
}

.nav__menu svg {
    fill: gray;
    margin-right: 10px;
}

.nav__menu svg.active {
    fill: white;
    cursor: pointer;
    margin-right: 10px;
}


.nav__menu .logo a {
    font-size: 1.2rem;
    font-weight: 400;
    /* margin: 0 20px; */
    color: rgb(0, 222, 222)
}

.nav__menu .cat {
    padding: 0 5px;
    font-size: 0.7rem;
    color: rgb(187, 187, 1);
}

.nav__menu span>.bootcamp {
    padding-left: 5px;
    color: yellow;
    font-size: 0.9rem;
}

.nav__user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__user button {
    border: none;
    outline: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: rgb(0, 92, 0);
    color: white;
    font-size: 1.3rem;
    font-weight: 300;
}

.nav__user button:hover {
    background-color: rgb(0, 70, 0);
}

.nav__user button:active {
    border: 1px solid grey;
}

.nav__user i {
    font-size: 24px;
}