.nav__submenu {
    position: fixed;
    top: 56px;
    left: 0;
    width: var(--side-menu-width);
    height: 92vh;
    background-color: #212121;
    color: gray;
    overflow: scroll;
    scrollbar-width: none;

    /* transition-delay: 150ms; */
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    padding-bottom: 20px;
    box-shadow: 5px 0px 14px 1px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: 5px 0px 14px 1px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 5px 0px 14px 1px rgba(0, 0, 0, 0.41);

}

.nav__submenu.nav-open {
    transform: translateX(0%);
}

.submenu__title {
    font-size: 1.2rem;
    width: 100%;
    background-color: rgb(52, 52, 52);
    color: white;
    padding: 10px 0;
    text-align: center;
}

.sub__submenu {
    color: white;
    font-size: 0.8rem;
    font-weight: 300;
}

.submenu__courses {
    /* border-top: 2px solid rgba(255, 192, 203, 0.4); */
    border-bottom: 1px solid rgba(100, 100, 100, 0.4);
    text-align: start;
    padding: 10px;
    /* opacity: 0.5; */
}

.submenu__course_group {
    /* border: 1px dashed pink; */
    display: flex;
    justify-content: space-between;
}

.submenu__course_btn {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid gray;
    outline: none;
    color: white;
    background-color: #323232;
    padding: 5px 10px;
    /* margin: 5px 10px; */
    width: 90%;
    margin: 7px auto;
    cursor: pointer;
    border-radius: 15px;
    opacity: 1;
    transition: all 150ms ease-in-out;
}

.submenu__course_btn.btn_selected {
    border-color: turquoise;
}

.submenu__course_btn:hover {
    background-color: #191919;
    border: 1px solid white;
}

.submenu__course_content .content__title {
    width: 100%;
    background-color: #6c6c6c;
    color: white;
    padding: 5px 0;
    margin: 5px 0;
}

.submenu__course_content .content__title.course {

    padding: 10px 0;
    background-image: linear-gradient(135deg, rgba(255, 165, 123, 0.2) 0 100%);
    background-color: rgb(191, 81, 99);

    background-image: linear-gradient(90deg,
            rgba(0, 0, 0, 0.7) 0%,
            rgba(0, 0, 0, 0.4) 20%,
            rgba(0, 0, 0, 0.2) 50%,
            rgba(0, 0, 0, .4) 80%,
            rgba(0, 0, 0, 0.7) 100%);
}

.submenu__course_content .content__subject {
    display: block;
    width: 90%;
    /* border: 1px solid gray; */
    border: none;
    outline: none;
    color: white;
    background-color: #2b2b2b;
    padding: 7px 10px;
    cursor: pointer;
    margin: 10px auto;
    border-radius: 2px;
    transition: all 200ms ease-in-out;
}

.submenu__course_content .content__subject.btn_selected {
    background-color: #3e3e3e !important;
}

.submenu__course_content .content__subject:hover {
    color: rgb(231, 151, 2);
    transform: scale(1.07);
}

.add_course {
    display: flex;
    align-items: center;
    gap: 5px;
    /* border: 1px solid gray; */
    border-left: 10px solid rgba(100, 100, 100, 0.4);
    /* border-radius: 5px; */
    text-align: start;
    padding: 10px 20px;
    background-color: rgb(52, 52, 52);
    cursor: pointer;
    transition: all 0.2s ease;
    margin-bottom: 10px;
}

.add_course:hover {
    background-color: rgb(28, 28, 28);
    border-left: 10px solid green;
}

.add_course>svg {
    fill: yellowgreen;
}

.add_course>span {
    font-size: 1.1rem;
    color: white;
    /* text-transform: uppercase; */

}