/* @font-face {
  font-family: "euclid_circular_a";
  src: local("euclid_circular_a"),
    url("./fonts/Euclid Circular A Bold.ttf") format("truetype"),
    url("./fonts/Euclid Circular A Bold Italic.ttf") format("truetype"),
    url("./fonts/Euclid Circular A Light.ttf") format("truetype"),
    url("./fonts/Euclid Circular A Light.ttf") format("truetype"),
    url("./fonts/Euclid Circular A Italic.ttf") format("truetype"),
    url("./fonts/Euclid Circular A Light Italic.ttf") format("truetype"),
    url("./fonts/Euclid Circular A Medium Italic.ttf") format("truetype"),
    url("./fonts/Euclid Circular A Medium.ttf") format("truetype"),
    url("./fonts/Euclid Circular A Regular.ttf") format("truetype"),
    url("./fonts/Euclid Circular A SemiBold.ttf") format("truetype"),
    url("./fonts/Euclid Circular A SemiBold Italic.ttf") format("truetype");
} */




@font-face {
  font-family: "EuclidCircularLight";
  src: local("EuclidCircularLight"),
    url("./fonts/Euclid Circular A Light.ttf") format("truetype");
}

@font-face {
  font-family: "EuclidCircularBoldItalic";
  src: local("EuclidCircularBoldItalic"),
    url("./fonts/Euclid Circular A Bold Italic.ttf") format("truetype");
}

@font-face {
  font-family: "EuclidCircularBold";
  src: local("EuclidCircularBold"),
    url("./fonts/Euclid Circular A Bold.ttf") format("truetype");
}

@font-face {
  font-family: "EuclidCircularItalic";
  src: local("EuclidCircularItalic"),
    url("./fonts/Euclid Circular A Italic.ttf") format("truetype");
}

@font-face {
  font-family: "EuclidCircularLightItalic";
  src: local("EuclidCircularLightItalic"),
    url("./fonts/Euclid Circular A Light Italic.ttf") format("truetype");
}



@font-face {
  font-family: "EuclidCircularMediumItalic";
  src: local("EuclidCircularMediumItalic"),
    url("./fonts/Euclid Circular A Medium Italic.ttf") format("truetype");
}

@font-face {
  font-family: "EuclidCircularMedium";
  src: local("EuclidCircularMedium"),
    url("./fonts/Euclid Circular A Medium.ttf") format("truetype");
}

@font-face {
  font-family: "EuclidCircularRegular";
  src: local("EuclidCircularRegular"),
    url("./fonts/Euclid Circular A Regular.ttf") format("truetype");
}

@font-face {
  font-family: "EuclidCircularSemiBold";
  src: local("EuclidCircularSemiBold"),
    url("./fonts/Euclid Circular A SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "EuclidCircularSemiBold Italic";
  src: local("EuclidCircularSemiBold Italic"),
    url("./fonts/Euclid Circular A SemiBold Italic.ttf") format("truetype");
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --bg-primary-color: #212121;
  --nav-height: 56px;
  --nav-height-add: 100px;
  --view-width: 900px;
  --side-menu-width: 250px;
  --side-menu-width-on-off: 0;
  /* --mobile-size-tabloid: 600px; */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 300px;
  /* background-color: black; */
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}